* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Hind', sans-serif;
}

:root {
    --color-black: #0D0D0D;
    --color-white: #F2EBDF;
    --color-blue: #00A89E;
    --color-orange: #F2620F;
}


html,
body {
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
}


/* HEADER */

header {
    width: 100vw;
    height: 80px;
    background-color: var(--color-black);
    border-bottom: 1px solid #212121;
    display: flex;
    padding: 0 80px;
    justify-content: space-around;
    align-items: center;
    position: relative;
    max-width:100%;
}

.ghost-icon {
    animation-duration: 1s;
    animation-name: ghost;
    animation-iteration-count: infinite;
    transition: all ease;
}


.ghost-icon, .github-icon, .linkedin-icon {
    fill: var(--color-blue);
    width: 25px;
    height: 25px;
    margin: 0 15px;
}

.ghost-icon:hover, .github-icon:hover, .linkedin-icon:hover {
    fill: #46ccc3;
    transition: all 0.3s ease;
    transform: scale(1.1);
}


.binary-icon {
    fill: var(--color-orange);
    width: 25px;
    height: 25px;
}

.left-btns, .left-btns a  {
    display: flex;
    align-items: center;
}

.switch-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
}

.navbar {
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 40%;
}

.navbar a {
    color: var(--color-white);
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid transparent;
}

.navbar a:hover {
    border-bottom: 1px solid var(--color-blue);
    color: var(--color-blue);
    transition: all 0.3s ease;
}


.nav-link {
    display: flex;
    align-items: center;
}


.right-btns, .right-btns a {
    display: flex;
    align-items: center;
}

.burguer-container {
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes ghost {
    0% {
        transform: rotate(-15deg);
    }

    50% {
      transform: rotate(15deg) scale(1.2);
    }

    100% {
      transform: rotate(-15deg);
    }
}


/* toggle switch button  */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid var(--color-orange);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
.slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 4px;
    bottom: 3px;
    background-color: var(--color-orange);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
input:checked + .slider {
    background-color:var(--color-blue);
    border: 2px solid var(--color-blue);
  }
  
input:focus + .slider {
    box-shadow: 0 0 1px var(--color-blue);
  }
  
input:checked + .slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
    background-color:var(--color-black);
  }
  
.slider.round {
    border-radius: 25px;
  }
  
.slider.round:before {
    border-radius: 50%;
  }

#burguer {
    color: var(--color-blue);
    font-size: 25px;
    display: none;
}





/* responsive */

@media screen and (max-width:768px) {

    body {
        overflow-x: hidden;
    }

    .github-icon, .linkedin-icon  {
        display: none;
    }

    header {
        justify-content: space-between;
    }


    .navbar {
        position: absolute;
        height: calc(100vh - 80px);
        width: 100vw;
        top: 80px;
        left: 0px;
        background-color: var(--color-black);
        z-index: 1;
        transform: translateX(100%);
        opacity: 0;
        transition: transform 0.2s ease-in;
    }

    .navbar ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .navbar a {
        color: var(--color-white);
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 16px;
        border-bottom: 1px solid transparent;
    }
    
    .navbar a:hover {
        border-bottom: 1px solid var(--color-blue);
        color: var(--color-blue);
        transition: all 0.3s ease;
    }

    #burguer {
        display: block;
        cursor: pointer;
    }
    
    .nav-active {
        transform: translateX(0%);
        opacity: 1;
    }
}












  /* HERO SECTION  */


.hero {
    width: 100%;
    height: calc(100vh - 80px);
    /* min-height: 100vh; */
    display: flex;
    max-width:100%;
}

.left-hero {
    width: 53%;
    height: 100%;
    background: linear-gradient(158.23deg, #0D0D0D 36.63%, #011D1B 97.1%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, calc(95% - 1vw) 100%, 0 100%);
}


.hero-resume {
    width: 550px;
    height: auto;
    margin-left: 80px;
}

.hero-resume-h2 {
    color: var(--color-white);
    font-size: 20px;
}

.hero-resume-title {
    color: var(--color-white);
    font-size: 40px;
}

.hero-text-span {
    color: var(--color-blue);
}

.hero-resume-text {
    color: var(--color-white);
    font-size: 16px;
}

.hero-btn {
    border: 2px solid var(--color-blue);
    border-radius: 15px;
    margin-top: 20px;
    width: 220px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
    color: var(--color-white);
    font-size: 16px;
}

.hero-btn:hover {
    background-color: var(--color-orange);
    border: 2px solid var(--color-orange);
    color: var(--color-black);
    font-weight: 600;
    color: var(--color-black);
}


.right-hero {
    width: 47%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* align-items: center; */
    /* clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%); */
}

.right-hero-content {
    width: 50%;
    height: 60%;
    margin-left: 50px;
}

.photo-container {
    width: 100%;
    height: 60%;
    display: grid;
    place-items: center;
}

.hero-img {
    width: 50%;
}

.hero-img-description {
    font-size: 14px;
    color: #212121;
    text-align: center;
}

.text-container {
    width: 100%;
    height: 40%;
}


.right-hero-menu {
    width: 20%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 10px;
    border-right: 2px solid rgb(73, 73, 73);
    margin-right: 50px;
}

.right-hero-menu ul {
    display: flex;
    flex-direction: column;
    height: 45%;
    justify-content: space-around;
    text-align: end;
}

.hero-menu-link {
    color:#212121;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.hero-menu-link:hover {
    font-size: 15px;
    font-weight: 900;
}

.hero-menu-link:first-child {
    color: var(--color-blue);
    font-weight: 700;
}



/* .photo-container {
    width: 50%;
    height: 100%;
    display: grid;
    place-items: center;
    border: 1px solid red;
}

.photo-circle {
    position: absolute;
    width: 200px;
    z-index: 2;
}

.photo-circle2 {
    position: absolute;
    width: 400px;
    z-index: 3;
}

.photo-circle2 {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid red;
    border-radius: 50%;
    z-index: 5;
}
 */












.footer-test {
    height: 50px;
    width: 100vw;
    background-color: var(--color-black);
}